* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-family:  cursive;
}

/*title*/
.title img {
    width: 32%;
}

.container {
    width: 40%;
    margin: 10px auto;
    text-align: center;
    height: 78rem;
}

/*space game*/
#game-area {
    margin-top: 11rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
}

.case {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    width: 30%;
    height: 17rem;
    border: 3px inset #00a4e4 ;
}

/*win*/
#won {
    border: 3px solid #00a4e4;
    width: 20%;
    height: 5rem;
    font-size: 2rem;
    position: relative;
    bottom: 69rem;
    left: 94rem;
}

/* my modal window and btn rest game*/
#btnWindow, button {
    color: white;
    background-color: #6fd6ff;
    text-decoration-line: none;
    position: relative;
    bottom: 63rem;
    left: 165rem;
    font-weight: bold;
    font-size: 2rem;
    border: 3px solid #6fd6ff;
    padding: 1rem;
}

.modal {
    font-size: 18px;
}

#aClose {
    text-decoration-line: none;
    color: #444444;
}

#aClose:hover {
    color: #0099ff;
}
