* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-family: "Arial Black", sans-serif;
    font-size: 2rem;
}

#container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h1 {
    width: 100%;
    font-style: italic;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
}

#rules, #letters {
    width: 12%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    border: 2px solid;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    font-size: 1.5rem;
}

#pendu {
    width: 40%;
    height: 250px;
}

#game {
    width: 100%;
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#choiceD {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: 3% auto 3% auto;
}

button {
    width: 15%;
    padding: 1%;
    font-weight: bold;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

#tentative {
    width: 100%;
    text-align: center;
    margin-top: 2%;
}

#enter {
    width: 8%;
    margin-top: 1%;
}

#input {
    width: 5%;
    text-align: center;
    font-size: 2rem;
    margin-top: 1%;
    margin-right: 2%;
}

#wordPin {
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

#letters {
    overflow: auto;
    height: 150px;
    text-align: center;
}


@media screen and (max-width: 800px){
    #rules, #letters {
        order: 1;
        width: 60%;
        font-size: 1.4rem;
        margin-bottom: 2%;
        padding-bottom: 2%;
    }

    #letters {
        width: 40%;
    }

    #choiceD {
        width: 80%;
    }

    #enter {
        width: 11%;
    }

    #input {
        width: 8%;
    }

    #pendu {
        width: 60%;
    }
}

@media screen and (max-width: 520px){
    #rules {
        width: 80%;
    }

    #choiceD {
        width: 100%;
    }

    button{
        width: 19%;
    }

    #enter {
        width: 15%;
    }

    #input {
        width: 11%;
    }

    #pendu {
        width: 80%;
    }
}