* {
    padding: 3px;
}

h1 {
    background: linear-gradient(white,deepskyblue);
    margin-bottom: 20px;
}

#container {
    display: flex;
    flex-flow: column nowrap;
    align-content: space-between;

}

#text1,#button1 {
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 5px;
}

#input1,#button1 {
    width: 165px;
    margin-bottom: 15px;
    height: 45px;
}

button {
    box-shadow: 5px 5px inset black, 5px 5px black;
    background-color: deepskyblue;
    border-color: black;
}

